<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.profile.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileEditController</servlet-name>
        <servlet-class>controller.profile.ProfileEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.auth.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.auth.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPassword</servlet-name>
        <servlet-class>controller.auth.NewPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.auth.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.home.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPatientController</servlet-name>
        <servlet-class>controller.patientmanagement.AddPatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePatientController</servlet-name>
        <servlet-class>controller.patientmanagement.DeletePatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPatientController</servlet-name>
        <servlet-class>controller.patientmanagement.ListPatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployeeController</servlet-name>
        <servlet-class>controller.employeemanagement.AddEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployeeController</servlet-name>
        <servlet-class>controller.employeemanagement.DeleteEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListEmployeeController</servlet-name>
        <servlet-class>controller.employeemanagement.ListEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEmployeeController</servlet-name>
        <servlet-class>controller.employeemanagement.SearchEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmployeeController</servlet-name>
        <servlet-class>controller.employeemanagement.UpdateEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePatientController</servlet-name>
        <servlet-class>controller.patientmanagement.UpdatePatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServiceController</servlet-name>
        <servlet-class>controller.servicemanagement.SearchServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServiceController</servlet-name>
        <servlet-class>controller.servicemanagement.AddServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServiceController</servlet-name>
        <servlet-class>controller.servicemanagement.UpdateServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServiceController</servlet-name>
        <servlet-class>controller.servicemanagement.DeleteServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.profile.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllAppointmemntController</servlet-name>
        <servlet-class>controller.appointment.management.ListAllAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailAppointmentController</servlet-name>
        <servlet-class>controller.appointment.management.DetailAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveAppointmentController</servlet-name>
        <servlet-class>controller.appointment.management.ApproveAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAppointmentController</servlet-name>
        <servlet-class>controller.appointment.management.UpdateAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagingServiceController</servlet-name>
        <servlet-class>controller.servicemanagement.PagingServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAppointmentController</servlet-name>
        <servlet-class>controller.appointment.management.patient.BookAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelAppointmentController</servlet-name>
        <servlet-class>controller.appointment.management.CancelAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAppointmentHistoryController</servlet-name>
        <servlet-class>controller.appointment.management.patient.ViewAppointmentHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagingPatientController</servlet-name>
        <servlet-class>controller.patientmanagement.PagingPatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServiceController</servlet-name>
        <servlet-class>controller.servicemanagement.DetailServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailEmployeeController</servlet-name>
        <servlet-class>controller.employeemanagement.DetailEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusAppointmentController</servlet-name>
        <servlet-class>controller.appointment.management.StatusAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateExaminationResultController</servlet-name>
        <servlet-class>controller.examinationresult.management.CreateExaminationResultController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateExaminationResultController</servlet-name>
        <servlet-class>controller.examinationresult.management.UpdateExaminationResultController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePrescriptionController</servlet-name>
        <servlet-class>controller.prescription.management.CreatePrescriptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePrescriptionController</servlet-name>
        <servlet-class>controller.prescription.management.UpdatePrescriptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePrescriptionController</servlet-name>
        <servlet-class>controller.prescription.management.DeletePrescriptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAppointmentOfAnEmployeeController</servlet-name>
        <servlet-class>controller.appointment.management.employee.ListAppointmentOfAnEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPatientController</servlet-name>
        <servlet-class>controller.patientmanagement.SearchPatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAppointmentController</servlet-name>
        <servlet-class>controller.appointment.management.SearchAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagingEmployeeController</servlet-name>
        <servlet-class>controller.employeemanagement.PagingEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailPatient</servlet-name>
        <servlet-class>controller.patientmanagement.DetailPatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailPrescriptionController</servlet-name>
        <servlet-class>controller.prescription.management.ViewDetailPrescriptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewServicesController</servlet-name>
        <servlet-class>controller.view.UserViewServicesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewAboutUsController</servlet-name>
        <servlet-class>controller.view.UserViewAboutUsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewOurDentistController</servlet-name>
        <servlet-class>controller.view.UserViewOurDentistController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/viewprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileEditController</servlet-name>
        <url-pattern>/profileedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPassword</servlet-name>
        <url-pattern>/newpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPatientController</servlet-name>
        <url-pattern>/addpatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePatientController</servlet-name>
        <url-pattern>/deletepatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPatientController</servlet-name>
        <url-pattern>/listpatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployeeController</servlet-name>
        <url-pattern>/addemployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployeeController</servlet-name>
        <url-pattern>/deleteemployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListEmployeeController</servlet-name>
        <url-pattern>/listemployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEmployeeController</servlet-name>
        <url-pattern>/searchemployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployeeController</servlet-name>
        <url-pattern>/updateemployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePatientController</servlet-name>
        <url-pattern>/updatepatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServiceController</servlet-name>
        <url-pattern>/searchservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServiceController</servlet-name>
        <url-pattern>/addservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServiceController</servlet-name>
        <url-pattern>/updateservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServiceController</servlet-name>
        <url-pattern>/deleteservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllAppointmemntController</servlet-name>
        <url-pattern>/listappointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailAppointmentController</servlet-name>
        <url-pattern>/detailappointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveAppointmentController</servlet-name>
        <url-pattern>/approveappointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAppointmentController</servlet-name>
        <url-pattern>/updateappointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagingServiceController</servlet-name>
        <url-pattern>/pagingservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAppointmentController</servlet-name>
        <url-pattern>/bookappointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelAppointmentController</servlet-name>
        <url-pattern>/cancelappointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAppointmentHistoryController</servlet-name>
        <url-pattern>/viewappointmenthistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagingPatientController</servlet-name>
        <url-pattern>/pagingpatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServiceController</servlet-name>
        <url-pattern>/detailservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailEmployeeController</servlet-name>
        <url-pattern>/viewdetailemployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusAppointmentController</servlet-name>
        <url-pattern>/statusappointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateExaminationResultController</servlet-name>
        <url-pattern>/createexaminationresult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateExaminationResultController</servlet-name>
        <url-pattern>/updateexaminationresult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePrescriptionController</servlet-name>
        <url-pattern>/createprescription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePrescriptionController</servlet-name>
        <url-pattern>/updateprescription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePrescriptionController</servlet-name>
        <url-pattern>/deleteprescription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAppointmentOfAnEmployeeController</servlet-name>
        <url-pattern>/listappointmentofanemployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPatientController</servlet-name>
        <url-pattern>/searchpatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAppointmentController</servlet-name>
        <url-pattern>/searchappointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagingEmployeeController</servlet-name>
        <url-pattern>/pagingemployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailPatient</servlet-name>
        <url-pattern>/detailpatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailPrescriptionController</servlet-name>
        <url-pattern>/viewprescriptiondetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewServicesController</servlet-name>
        <url-pattern>/userviewservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewAboutUsController</servlet-name>
        <url-pattern>/userviewaboutus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewOurDentistController</servlet-name>
        <url-pattern>/userviewdoctor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
